Source: helloworld
Maintainer: Shubham Tatvamasi <shubhamtatvamasi@gmail.com>
Standards-Version: 1.0.0
Section: utils

Package: helloworld
Priority: extra
Architecture: any
Description: a simple helloworld package
  Just prints "Hello World", it's very useful.
