Source: helloworld
Maintainer: Shubham Tatvamasi <shubhamtatvamasi@gmail.com>
Standards-Version: 1.0.7
Section: utils
Build-Depends: debhelper (>= 10)

Package: helloworld
Priority: optional
Architecture: any
Description: a simple helloworld package
  Just prints "Hello World", it's very useful.
